* {
    margin: 0;
    box-sizing: border-box;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 350px;
    border-radius: 30px;
    /* background: linear-gradient(rgba(120, 255, 214, 1), rgba(10, 132, 151, 1)); */
    background: linear-gradient(to top left, #007991, #78ffd6);
    color: #ffffff;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1 {
    padding: 70px 0 10px;
    font-size: 30px;
    text-shadow: 1px 2px 10px #3d3d3d7e;
}

h3 {
    font-weight: normal;
    font-size: 20px;
    padding: 0;
}

.label {
    font-size: 20px;
    padding: 30px 0 10px;
    text-shadow: 1px 2px 10px #3d3d3d60;
}

.input {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    opacity: .9;
}

.input:hover {
    opacity: .95;
}

.btn {
    margin: 40px 0 25px;
    width: 160px;
    height:50px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 30px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    transition: font-size 0.1s;
    animation: buttonAnim infinite 2s;
}

@keyframes buttonAnim {
    0% {
        font-size: 100%;
    }
    20% {
        font-size: 105%;
    }
    40% {
        font-size: 100%;
    }
    60% {
        font-size: 103%;
    }
    100% {
        font-size: 101%;
    }
}

.btn:hover {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 2px 10px #3d3d3d25;
}